[general]
# Absolute filepath to astra directory
main_file_path = 

[fakes]
# Base spectra metadata
base_data_file = 
# Feature spectra metadata
features_data_file = 
# Fake spectra metadata
fake_data_file = 

[rates]
# Galaxy sample metadata
gal_sample_file = 
# Visibility times
vis_times_file = 
# Cosmic densities
cosmic_dens_file = 